## Outlier Detection & Removal using IQR Technique

* See the theoritical concept of IQR in the following images.

<img src = "img1.png" width = "8000px" height = "600px">,</img>

<img src = "img2.png" width = "600px" height = "400px">,</img>

In [4]:
# Now let's import the dataset:
import pandas as pd
df = pd.read_csv("heights.csv")
df.head()

    name  height
0  mohan     1.2
1  maria     2.3
2  sakib     4.9
3    tao     5.1
4  virat     5.2

In [5]:
# To see the statistics:
df.describe()

          height
count  20.000000
mean    8.390000
std     8.782812
min     1.200000
25%     5.350000
50%     5.700000
75%     6.275000
max    40.200000

In [7]:
# Now let's calculate Q1 and Q2:
Q1 = df.height.quantile (0.25)
Q3 = df.height.quantile (0.75)
Q1, Q3

(5.3500000000000005, 6.275)

In [8]:
# To calcualte IQR:
IQR = Q3 - Q1
IQR

0.9249999999999998

In [9]:
# Now to find the upper and lower limit, we use the following formula:
lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR
lower_limit, upper_limit

(3.962500000000001, 7.6625)

In [11]:
# Now when we have a lower and upper limit, we can easily find outliers bu using:
df[(df.height<lower_limit) | (df.height>upper_limit)]

     name  height
0   mohan     1.2
1   maria     2.3
17  aamir    14.5
18    ken    23.2
19    Liu    40.2

In [ ]:
# To remove the outliers from the original DataFrame:
df[(df.height>lower_limit) | (df.height>upper_limit)]